<ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
    <ion-list *ngFor="let item of items">
        <ion-item>
            <ion-card button id="card-{{item.id}}">
                <ion-card-header>
                    <app-progress-sheet [modalTrigger]="'card-'+item.id" [itemTitle]="item.title"></app-progress-sheet>
                    <ion-card-title>{{item.title}}</ion-card-title>
                    <ion-card-subtitle>{{item.subtitle}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>{{item.description.length > 100 ? (item.description | slice: 0:100) + '...' : item.description}}</ion-card-content>
            </ion-card>
            <ion-reorder slot="end"></ion-reorder>
        </ion-item>
    </ion-list>
</ion-reorder-group>