<!-- <ion-button id="open-modal-{{itemId}}" expand="block">Edit</ion-button> -->
<!-- This modal is triggered by _any_ element with the id set to {{modalTrigger}} -->
<ion-modal #modal trigger="{{modalTrigger}}">
  <ng-template>
    <ion-content>
      <ion-toolbar>
        <ion-title>{{itemTitle}}</ion-title>
        <ion-buttons slot="end">
          <ion-button color="dark" (click)="modal.dismiss()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-content>
  </ng-template>
</ion-modal>